# Core Django Framework
Django==5.0.6

# Production Server
gunicorn==21.2.0

# Database
psycopg[binary]==3.2.3
dj-database-url==2.1.0

# Static Files
whitenoise==6.6.0

# Rich Text Editor
django-ckeditor==6.7.0

# Admin Enhancements
django-import-export==3.3.9
django-simple-history==3.5.0

# Forms
django-crispy-forms==2.1
crispy-bootstrap5==2024.2

# Image Processing
Pillow==11.0.0

# REST API
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
