{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2 class="mb-4">{% trans "Courses" %}</h2>

<div class="row">
    {% for course in courses %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if course.thumbnail %}
            <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="{{ course.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description|safe|truncatewords:20 }}</p>
                <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">{% trans "View Course" %}</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-center">{% trans "No courses have been created for you yet." %}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
